doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>

  body
    block content
    header 
    
